.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
dist/
.idea/
.vscode/
.temp/
docs/_build/
packaging/axe_usd_plugin/dependencies/*
!packaging/axe_usd_plugin/dependencies/
!packaging/axe_usd_plugin/dependencies/README.md

*.rat
*.txt
*.tex
